<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:ic="http://ivyteam.ch/jsf/component"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:pm="http://primefaces.org/mobile"
	xmlns:gui="http://axonivy.com/gui/components"
	xmlns:pt="http://xmlns.jcp.org/jsf/passthrough">
	<h:head>
		<h:outputScript library="ivy-webcontent" name="/resources/libs/lodash.min.js" />
		<h:outputScript library="ivy-webcontent" name="/resources/libs/jquery-blockUI.js" />
		<h:outputScript library="ivy-webcontent" name="/resources/js/fintechHandlingComponent.js" />
	</h:head>
	<h:body>
		<h:form id="form">
			<gui:eventListeners rulesPackage="pm" dataModel="#{data.personManagement}" dialogData="#{data}" />
			<p:outputLabel value="Debtor"/>
			<ic:ch.axonivy.fintec.hellorule.component.PersonalInfo
				dataModel="#{data.personManagement.debtor}"/>
				
			<p:outputLabel value="Partner"/>
			<ic:ch.axonivy.fintec.hellorule.component.PersonalInfo
				dataModel="#{data.personManagement.partner}"/>
		</h:form>
	</h:body>
</html>