<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:ic="http://ivyteam.ch/jsf/component"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:pm="http://primefaces.org/mobile"
    xmlns:gui="http://axonivy.com/gui/components">
	<h:head>
		<h:outputScript library="ivy-webcontent" name="/resources/libs/lodash.min.js" />
		<h:outputScript library="ivy-webcontent" name="/resources/libs/jquery-blockUI.js" />
		<h:outputScript library="ivy-webcontent" name="/resources/js/fintechHandlingComponent.js" />
	</h:head>
	<h:body>
		<h:form id="form">
			<gui:eventListeners rulesPackage="lr" dataModel="#{data.leaveRequest}" dialogData="#{data}" />
			<p:panelGrid columns="2" cellpadding="10">
				<p:outputLabel for="personalId" value="Id"/>
				<p:inputText id="personalId" value="#{data.leaveRequest.personalId}"/>
				
				<p:outputLabel for="name" value="Name"/>
				<p:inputText id="name" value="#{data.leaveRequest.name}"/>
				
				<p:outputLabel for="age" value="Age"/>
				<p:inputNumber id="age" value="#{data.leaveRequest.age}"/>
				
				<p:outputLabel for="begin" value="Begin day"/>
				<p:calendar id="begin" value="#{data.leaveRequest.beginDay}"/>
				
				<p:outputLabel for="end" value="End day"/>
				<p:calendar id="end" value="#{data.leaveRequest.endDay}"/>
				
				<p:outputLabel />
				<p:commandButton id="submit" value="Submit"/>
			</p:panelGrid>
		</h:form>
	</h:body>
</html>